html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.App {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.authentication {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}
.login-frame {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.left-frame {
  position: absolute;
  background-color: #0e1417;
  width: 45%;
  height: 100%;
  
}

.login-carousel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.right-frame {
  position: absolute;
  background-color: #252729;
  height: 100%;
  width: 55%;
  right: 0;
}

#signup-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 400px;
  background-color: #0e1417;
  box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19);
}

#login-form {
  visibility: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 500px;
  width: 400px;
  background-color: #0e1417;
  box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-form-group {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.login-textfield {
  background-color: rgba(216, 160, 248, 0.29);
  font-size: 15px;
  width: 290px;
  padding: 10px;
  color: #fff;
  border: none;
  outline: none;
}

.login-textfield:focus {
  background-color: rgba(240, 56, 206, 0.12);
}
.login-form-button {
  text-align: center;
}


.auth-buttons {
  background-color: rgba(136, 56, 240, 0.84);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  margin-right: 10px;
  padding: 10px;
  border: none;  
}

.auth-buttons:hover {
  background-color: rgba(134, 134, 134, 0.28);
}

.space {
  height: 20px;
  width: 100%;
  background-color: #0e1417;
}
.appdiv {
  position: relative;
  height: 100vh;
  overflow: auto;
}

.main-tabs{
  color: #fff;
  background-color: #0e1417;
  text-align: center;
  text-decoration: none; 
}

.appbar {
  position: absolute;
  box-shadow: none;
}
.articlesdiv {
  height: 500px;
  width: 100%;
  background-color: #0e1417;
}

.terminalarticles {
  height: 50vh;
  width:75%;
  float:right;
  background-color:#0e1417;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.articlesdiv h1 {
  padding-left: 20px;
}

.tweetsdiv {

  background-color: #0e1417;
  height: 100vh;
  width: 100%;
}

.chartsdiv {
  background-color: #252729;
  min-height: 100vh;
}


.marketsdiv {
  background-color: #0e1417;
  min-height: 100vh;
}

.newsdiv {
  background-color: #0e1417;
  min-height: 100vh;
}

#main-dashboard {
  
  height: 100vh;
  width: 100%;
}
.main-forum {
  height: 100%;
  width: 100%;
  background-color: #0e1417;
}

#charts-paper {
  height: 60%;
}
.scroll-bar {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #0e1417;
}

.middle {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 100%;
}

.left-column {
  width: 80%;
  height: 100%;
}

#chart-widget {
  height: 100%;
  width: 100%;

}
.articles-widget {
  height: 98%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.market-headlines {
  position: relative;
  height: 85%;
  width: 100%;
}
.headlines {
  background-color: #aaa;
  height: 100%;
  width: 65%;
}

.headlines-stream{
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.trading-plan {
  height: 98%;
  width: 100%;
  overflow: auto;
}



.right-column{
  background-color: #0e1417;
  width:20%;
  height: 100%;
}

.twitter-widget {
  width: 100%;
  height: 50%;
}

.headlines-widget {
  width: 100%;
  height: 50%;
}

.twitter-feed-component {
  width: 100%;
  height: 90%;
  background: #0e1417;
  overflow: auto;
  overflow-x: hidden;
}
.headlines-feed-component {
  width: 100%;
  height: 50%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #0e1417;
}

.resizediv {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100px;
  height: 100px;
  resize: both;
  overflow: hidden;
}

#tradingview-widget-container__widget {
  width: 100%;
  height: 90%;
  overflow: auto;
  background: transparent;
}
.tabscolor {
  background-color: #0e1417;
  color: #fff;
}

.paper {
  background-color: #252729;
  min-width: 100vh;
}

.articlesfeed {
  padding: 10;
  margin-left: 10px;
  background-color: #0e1417;
  /* width: 40%; */
}

.pairsfeed {
  padding: 10;
  margin-left: 10px;
  background-color: #0e1417;
}

.MuiExpansionPanel-root {
  color: #fff;
  background: linear-gradient(45deg, #252729 30%, #252729 90%);
  border: 0;
  width: 50%;
}

.content {
  color: white;
}

.articlestest {
  background-color: #0e1417;
}
.link a {
  text-decoration: none;
}

.marketsdiv {
  background-color: #0e1417;
  flex-grow: 1;
}

.stocksdiv {
  background: linear-gradient(45deg, #121212 30%, #121212 90%);
  text-align: center;
  margin-top: 15px;
  min-height: 100vh;
  padding: 10;
}
.stocksdiv,
.forexdiv,
.indexdiv h6 {
  padding-top: 10px;
}
.forexdiv {
  background: linear-gradient(45deg, #121212 30%, #121212 90%);
  text-align: center;
  margin-top: 15px;
  min-height: 100vh;
  padding: 10;
}
.indexdiv {
  background: linear-gradient(45deg, #121212 30%, #121212 90%);
  text-align: center;
  margin-top: 15px;
  min-height: 100vh;
  padding: 10;
}

.tweets-list-container {
  background-color: #252729;
  width: 70%;
  height: auto;
  position: relative;

}
.user-info {
  float: left;
}
.tweet-info {
  float: right;
}

.tweets-list-container ul li {
  list-style: none;
  text-decoration: none;
}

.row {
  height: auto;
  padding-left: 15px;
  color: #fff;
  overflow: auto;
}

.trading-plan-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trading-plan-rules {
  height: auto;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color:#0e1417;
}

.trading-plan-container{
  overflow: auto;
}
.longshort {
  position: relative;
  height: 100%;
  width: 100%;
}
.longshortcontainer {
  height: 100%;
  width: 100%;
}
.piechart {
  position: absolute;
  display: block;
  height: 150px;
  width: 150px;
  color: #fff;
  left: 50%;
  transform: translate(-50%);
}

.space {
  width: 100%;
  height: 10px;
  background-color: #0e1417;
}


.longspan{
  background: #21edd9;
  height: 10px;
  width: 10px;
  display: inline-block;
}

.shortspan {
  background: #02a2f7;
  height: 10px;
  width: 10px;
  display: inline-block;
  
}

.inline {
  width: 100%;
  padding: 10px;
}

.legend p{
  display: inline;
  
  padding: 10px 10px;
}

.market-headlines-component {
  height: 90%;
}

button {

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.Sidebar-list {
  height: 80px;
  width: 100%;
  padding: 0%;
}

.Sidebar-list .sidebar-icons{
  padding-top: 35px;
  width: 100%;
  height: 90%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: #aaa;
  border-right: 1px solid #0047ab;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar-icons #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebar-icons #title{
  flex: 70%;
}

.journal-sidebar {
  width: 20%;
  min-height: 800px;
}